body {
  background-color: #29292900;
}
.App {
  overflow: auto;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
.img{
  width: 400px;
  height: 400px;
}
.container {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 48px;
}
.button{
  display: inline-block;
  padding: 1em;
  text-align: center;
  position: relative;
  top: 60px;
  margin: 1em;
}

.box {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50px;
  margin-left: 0.1em;
  /* left: 500px;
  top: 70px; */
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.center{
  padding-left: 1em;
}
.two {
  position: relative;
  top: 10px;
}
.frame{
  width: 100%;
    height: 100%;
}


@media(max-width:635px) {
  .frame{
    width: 60%;
    height: 60%;
  }
  .img{
    height: 100%;
    width: 60%;
  }
  .App {
    overflow: auto;
    position:absolute;
    height: 100%;
    width: 30%;
    top: 0%;
    left: 0%;
  }
  .box {
    height: 100%;
    width: 30%;
    font-size: 140%;
    width: 10%;
    height: 10%;
    top: 30%;
    margin-left: 0.1em;

  }
  .button{
    height: 100%;
    width: 30%;
    font-size: 50%;
    margin: 1em;
    padding-left: 5%;
    padding-right: 5%;
    top: 30%;
    size: 30%
  }
    .two{
      top: 30%;
    }
}
@media(min-width:1750px) {
  .frame{
    width: 160%;
    height: 160%;
  }
  .img{
    height: 600px;
    width: 600px;
   }
   .box {
    height: 100%;
    font-size: 220%;

  }
    .two{
      top: 30%;
    }
}